# TASK 1

### Steps:
Preprocess the dataset by handling missing values,
encoding categorical variables, and splitting the data
into training and testing sets.
Select a regression algorithm (e.g., linear regression,
decision tree regression) and train it on the training data.
Evaluate the model's performance using appropriate
regression metrics (e.g., mean squared error, R-squared)
on the testing data.
Interpret the model's results and analyze the most
influential features affecting restaurant ratings.

In [1]:
import pandas as pd

In [2]:
task1  = pd.read_csv("cleaned1.csv")

In [3]:
rows,columns = task1.shape

In [4]:
task1.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",1100,Botswana Pula(P),1,0,0,0,3,4.8,10,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,1200,Botswana Pula(P),1,0,0,0,3,4.5,10,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",4000,Botswana Pula(P),1,0,0,0,4,4.4,8,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",1500,Botswana Pula(P),0,0,0,0,4,4.9,10,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",1500,Botswana Pula(P),1,0,0,0,4,4.8,10,229

In [5]:
task1['cuisine_count'] = task1['Cuisines'].astype(str).apply(lambda x: len(x.split(',')))
task1.head()
task1.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating text', 'Votes',
       'cuisine_count'],
      dtype='object')

In [6]:
#spliting training and testing data

In [10]:
y = task1['Aggregate rating']
x = task1.drop(columns =  ['Restaurant ID', 'Restaurant Name','City', 'Address','Locality', 'Locality Verbose','Cuisines','Aggregate rating','Currency'])
from  sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state = 1)
y_train.shape

(7163,)

In [11]:
#model building regression model1 - random forest regressor

In [12]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators = 100, random_state = 1)
model.fit(x_train,y_train)
y_pred = model.predict(x_test)

In [13]:
# important of each feature that influence the restaurant rating

In [15]:
# Assuming you have already trained a model and have `feature_importance` and `x_train` defined

feature_importance = model.feature_importances_
importanceDf = pd.DataFrame({"Features": x_train.columns, "Importance": feature_importance})
importanceDf = importanceDf.sort_values(by="Importance", ascending=False)

In [16]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators = 100, random_state = 1)
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
y_pred

array([3.02 , 4.709, 3.611, ..., 2.97 , 0.   , 0.   ])

In [21]:
feature_importance = model.feature_importances_
importanceDf = pd.DataFrame({"Features" : x_train.columns, "Importance": feature_importance})
importanceDf.sort_values(by = "Importance", ascending = False)

                Features  Importance
9            Rating text    0.573196
10                 Votes    0.416806
2               Latitude    0.003395
1              Longitude    0.003242
3   Average Cost for two    0.001698
11         cuisine_count    0.000861
5    Has Online delivery    0.000356
8            Price range    0.000260
4      Has Table booking    0.000116
0           Country Code    0.000042
6      Is delivering now    0.000030
7   Switch to order menu    0.000000

# model performance accurancy

In [23]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, mean_absolute_percentage_error

squared_error = mean_squared_error(y_test, y_pred)
error_percent = mean_absolute_percentage_error(y_test, y_pred)
accuracy_percentage = (1 - error_percent) * 100

print("Mean Squared Error = {:.2f}".format(squared_error))
print("Accuracy Percentage = {:.2f}%".format(accuracy_percentage))

Mean Squared Error = 0.03
Accuracy Percentage = 96.19%

# Accuracy Percentage = 96.19%

In [24]:
#Task 1 completed - thank you